<center>

<br>
<br>

<%= image_tag("hallway.jpg", :alt => "hallway_pic") %>

<br>
<br>

<table width="30%" border=1>
	<tr>
		<td align="center" width="50%">
		<a href='/'>Home</a>
		</td>
		
		<td align="center" width="50%">
		<a href='/halls'>Facilities</a>
		</td>
	</tr>
</table>

<br>

<h2>Aberdeen's Sports Halls</h2>

<br>

<p>The 'sporthall' app has been created for those who are lost in their way and need some guidance in order to discover the multiple possibilities that the city of Aberdeen can offer them in terms of sport-practising facilities.</p>

<p>Come along and explore through the multiple choices of sporting halls located in Aberdeen, ranging from golf courses to in-door Olympic-sized swimming pools.</p>

<br>

<p>The data for the sport facilities is freely given by the Aberdeen City Council's open-source database project. This app has been created for didactic purposes only, with no intention of any comercial benefit.</p>

</br>

</center>